
#header{
    color: #a5b1cd;
    background-color: #1f2c56;/*#282b38;*/
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    height: 100px;
    box-shadow: 2px 2px 2px  #bac7f1;
    margin-bottom: 2px;
    position: relative;
    z-index: 0;

}

#switch:hover {color: #ce1c0f; }
#switch:active {color: #ce1c0f; }

/*pantalla de escritorio grande*/
@media(min-width:1200px){    
    .col-lg-12{
        width: 100%;
        /*background: rgb(224, 133, 133);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-11{
        width: 91.66666667%;
        background: rgb(180, 69, 25);
        border: 1px solid black;
        text-align: center;
    }
    .col-lg-10{
        float: left;
        width: 83.33333333%;
        /*background: rgb(133, 180, 157);
        border: 1px solid rgb(0, 0, 0);*/
        text-align: center;
    }
    .col-lg-9{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 75%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(148, 95, 111);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-8{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 66.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(198, 191, 223);
        border: 1px solid black;*/
        text-align: center;
        padding: 10px;
    }
    .col-lg-7{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 58.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(208, 153, 230);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-6{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 50%;
        /*background: rgb(95, 148, 97);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-5{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 41.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(127, 206, 195);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-4{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 33.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(95, 136, 148);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-3{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 25%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(106, 95, 148);
        border: 1px solid black;*/
        text-align: center;
    }
    .col-lg-2{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 16.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(65, 223, 99);
        border: 1px solid black;*/
        text-align: center;
        /*padding: 10px;*/
    }
    .col-lg-1{
        float: left;    /*permite que la columna se acomode de izquierda a derecha*/
        width: 8.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
        /*background: rgb(198, 236, 148);
        border: 1px solid black;*/
        text-align: center;
    }
  }
/*pantalla de escritorio mediano*/
@media(max-width:1199px) and (min-width:992px){    
.col-md-12{
    width: 100%;
    /*background: coral;
    border: 1px solid black;*/
    text-align: center;
}
.col-md-11{
    float: left;
    width: 91.66666667%;
    background: rgb(180, 69, 25);
    border: 1px solid black;
    text-align: center;
}
.col-md-10{
    float: left;
    width: 83.33333333%;
    background: rgb(4, 243, 124);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
.col-md-9{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 75%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(148, 95, 111);
    border: 1px solid black;
    text-align: center;
}
.col-md-8{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 66.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 191, 223);
    border: 1px solid black;*/
    text-align: center;
}
.col-md-7{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 58.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(208, 153, 230);
    border: 1px solid black;
    text-align: center;
}
.col-md-6{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 50%;
    /*background: rgb(95, 148, 97);
    border: 1px solid black;*/
    text-align: center;
}
.col-md-5{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 41.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(127, 206, 195);
    border: 1px solid black;
    text-align: center;
}
.col-md-4{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 33.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(95, 136, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-md-3{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 25%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(106, 95, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-md-2{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 16.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(65, 223, 99);
    border: 1px solid black;*/
    text-align: center;
}
.col-md-1{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 8.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 236, 148);
    border: 1px solid black;*/
    text-align: center;
}
/*personalizar tamaño para pantalla movil*/
.LOGO {width: 80px;height: 80px;margin-left: 45%;}
#orden1{margin: 10%;}
#titulo{margin-bottom: 10px;}
}
/*pantalla de tablet*/
@media(max-width:991px) and (min-width:768px){    
.col-sm-12{
    width: 100%;
    /*background: coral;
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-11{
    float: left;
    width: 91.66666667%;
    background: rgb(180, 69, 25);
    border: 1px solid black;
    text-align: center;
}
.col-sm-10{
    float: left;
    width: 83.33333333%;
    background: rgb(4, 243, 124);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
.col-sm-9{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 75%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(148, 95, 111);
    border: 1px solid black;
    text-align: center;
}
.col-sm-8{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 66.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 191, 223);
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-7{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 58.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(208, 153, 230);
    border: 1px solid black;
    text-align: center;
}
.col-sm-6{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 50%;
    /*background: rgb(95, 148, 97);
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-5{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 41.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(127, 206, 195);
    border: 1px solid black;
    text-align: center;
}
.col-sm-4{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 33.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(95, 136, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-3{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 25%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(106, 95, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-2{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 16.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(65, 223, 99);
    border: 1px solid black;*/
    text-align: center;
}
.col-sm-1{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 8.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 236, 148);
    border: 1px solid black;*/
    text-align: center;
}

/*personalizar tamaño para pantalla movil*/
.LOGO{margin: 0;padding: 0;margin-left: 45%;}
#titulo{margin-bottom: 10px;margin-left: 20px;}
#orden{
    padding-bottom: 10px;}
#orden1{
        margin: 8%;}
}
/*pantalla de phones*/
@media(max-width:767px){    
.col-xs-12{
    width: 100%;
    /*background: coral;
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-11{
    float: left;
    width: 91.66666667%;
    background: rgb(180, 69, 25);
    border: 1px solid black;
    text-align: center;
}
.col-xs-10{
    float: left;
    width: 83.33333333%;
    background: rgb(4, 243, 124);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}
.col-xs-9{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 75%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(148, 95, 111);
    border: 1px solid black;
    text-align: center;
}
.col-xs-8{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 66.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 191, 223);
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-7{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 58.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(208, 153, 230);
    border: 1px solid black;
    text-align: center;
}
.col-xs-6{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 50%;
    /*background: rgb(95, 148, 97);
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-5{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 41.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    background: rgb(127, 206, 195);
    border: 1px solid black;
    text-align: center;
}
.col-xs-4{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 33.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(95, 136, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-3{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 25%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(106, 95, 148);
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-2{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 16.66666667%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(65, 223, 99);
    border: 1px solid black;*/
    text-align: center;
}
.col-xs-1{
    float: left;    /*permite que la columna se acomode de izquierda a derecha*/
    width: 8.33333333%;    /*la operación es 4*100/12 = 33.3333...*/
    /*background: rgb(198, 236, 148);
    border: 1px solid black;*/
    text-align: center;
}

/*personalizar tamaño para pantalla movil*/
.LOGO {width: 20%;height: 20%;margin-left: 40%;margin-top: 20px;}
#titulo{margin-bottom: 10px;margin-left: 5px; font-size: 20px;}
.orden{margin-top: 20%;}

}
  
  
/* modifica el ancho de la barra de desplazamiento */
.sidebar::-webkit-scrollbar {
    width: 10px !important;
    display: block !important;
}

/* modifica el fondo de la barra de desplazamiento*/
.sidebar::-webkit-scrollbar-track {
    background: #1f2c56 !important;
    border-radius: 10px !important;
    display: block !important;
}

/* modifica el color de la barra de desplazamiento estatica*/
.sidebar::-webkit-scrollbar-thumb {
    background: #7cd3f7;/*#5a6380;*/
}

/* modifica el color la barra de desplazamiento cuando se usa*/
.sidebar::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to top,#30cfd0 0%,#330867 100%) !important;
}
    
  
  
  
  